@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
.layout {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 970px;
  font-family: 'Rubik', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  color: white
}

.pix {
  font-family: 'Press Start 2P', cursive;
}

.container {
  display: flex;
  width: 100%;
}

.main-section {
  flex: 1;
}